* {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

html, body { height: 100%; }

body {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	color: #312540;
}

p { line-height: 1.625; }

a {
	color: inherit;
	transition: .2s;
}

strong { font-weight: 500; }

h1 { font-size: 32px; }

[hidden] { display: none !important; }

.muted, .console .endpoints li:before,
.console .output .request .url,
.console .output .request .response-code,
.console .output .response .url,
.console .output .response .response-code {
	font-size: 14px;
	color: #444;
}

.v-center, .key-sells > .sell i,
.console .output .request .request-title i,
.console .output .request .response-title i,
.console .output .response .request-title i,
.console .output .response .response-title i {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.wrap {
	margin: auto;
	padding-left: 24px;
	padding-right: 24px;
}

hr { margin: 48px 0 24px; }

hr.dark {
	background-color: rgba(95, 69, 120, 0.2);
	height: 1px;
}

.logo a {
  display: flex;
  align-items: center;
	text-decoration: none;
	color: #111;
	font-size: 26px;
	font-family: "Source Code Pro", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

.logo a span { margin-left: 0.25rem; }

.header-content {
	position: relative;
	background-color: #fff;
  border-bottom: 1px solid #dedede;
  border-top: 6px solid #2A438F;
}

.main-header > .wrap {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	padding-top: 12px;
	padding-bottom: 12px;
}

.home-content { margin: 48px 0; }

.endpoints ul {
	list-style-type: none;
	margin-left: 0;
}

.console {
	padding-top: 24px;
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-gap: 15px;
}

@media only screen and (max-width: 900px) {
	.console { grid-template-columns: 1fr; }
}

.console .endpoints { flex: 1; }

@media only screen and (max-width: 900px) {
	.console .endpoints { grid-template-columns: 1fr; }
}

.console .endpoints li {
	cursor: pointer;
	border-bottom: 1px solid #F2E8FF;
	color: rgba(49, 37, 64, 0.6);
	text-transform: uppercase;
	padding: 12px;
	font-size: 14px;
	transition: .2s;
	text-align: right;
}

@media only screen and (max-width: 900px) {
  .console .endpoints ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
  }

	.console .endpoints li {
    font-size: 11px;
    text-align: left;
    word-break: break-word;
    transition: background-color .2s;
    border: 1px solid rgba(95, 69, 120, 0.1);
    border-radius: 3px;
	}
}

@media only screen and (max-width: 480px) {
  .console .endpoints ul { grid-template-columns: 1fr 1fr; }
}

.console .endpoints li:last-of-type { border-bottom: none; }

@media only screen and (max-width: 900px) {
	.console .endpoints li:last-of-type { border-bottom: 1px solid #F2E8FF; }
}

.console .endpoints li.active { background-image: linear-gradient(90deg, rgba(231, 213, 255, 0.5) 0%, #fff 90%); }

@media only screen and (max-width: 900px) {
	.console .endpoints li.active {
		font-weight: 500;
		color: rgba(49, 37, 64, 0.6);
		background-image: none;
		border: 1px solid rgba(49, 37, 64, 0.6);
	}
}

.console .endpoints li:before {
	content: attr(data-http);
	text-transform: uppercase;
	font-size: 14px;
	background-image: linear-gradient(-180deg, rgba(42, 67, 143, 0.85) 0%, rgba(88, 58, 117, 0.85) 75%);
	color: #fff;
	border-radius: 3px;
	font-weight: 500;
	padding: 3px 6px;
	float: left;
	position: relative;
	top: -3px;
}

@media only screen and (max-width: 900px) {
	.console .endpoints li:before {
		float: none;
		display: block;
		text-align: center;
		font-size: 11px;
		top: 0;
		margin-bottom: 3px;
	}
}

.console .output {
	flex: 3;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 15px;
}

@media only screen and (max-width: 900px) {
	.console .output { grid-template-columns: 1fr; }
}

.console .output .request .url,
.console .output .request .response-code,
.console .output .response .url,
.console .output .response .response-code {
	color: #4ba144;
	display: block;
}

.console .output .request .response-code.bad,
.console .output .response .response-code.bad { color: #d14; }

.console .output .request .request-title,
.console .output .request .response-title,
.console .output .response .request-title,
.console .output .response .response-title {
	border: 1px solid rgba(95, 69, 120, 0.1);
	border-radius: 3px;
	padding: 12px;
	overflow: hidden;
	position: relative;
}

@media only screen and (max-width: 900px) {
  .console .output .request .request-title,
  .console .output .request .response-title,
  .console .output .response .request-title,
  .console .output .response .response-title { word-break: break-word; }
}

.console .output .request .request-title i,
.console .output .request .response-title i,
.console .output .response .request-title i,
.console .output .response .response-title i {
	font-size: 56px;
	transform: scale(3.25) rotate(345deg);
	color: rgba(231, 213, 255, 0.15);
	position: absolute;
	right: 0;
	top: 0;
}

.console .output .request { flex: 1; }

.console .output .response {
	flex: 2;
	display: grid;
	grid-gap: 15px;
}

.reswrap { overflow: hidden; }

pre {
	display: block;
	font-size: 12px;
	font-family: "Source Code Pro", Monaco, Consolas, "Lucida Console", monospace;
	background-color: rgba(231, 213, 255, 0.15);
	border-radius: 3px;
	padding: 12px;
	border: 1px solid rgba(95, 69, 120, 0.1);
	overflow-x: scroll;
}

pre .string { color: #445797; }

pre .number { color: #742DD2; }

pre .key { color: #5F4578; }

.spinner {
	margin: 24px auto;
	width: 32px;
	height: 32px;
	position: relative;
}

.cube1, .cube2 {
	background-color: #333;
	width: 10px;
	height: 10px;
	position: absolute;
	top: 0;
	left: 0;
	animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 { animation-delay: -0.9s; }

footer { padding: 24px 0; }

footer p {
	color: rgba(49, 37, 64, 0.6);
	font-size: 14px;
}
